<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>tunisieDecor</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Dcor Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/vendor/owl-slider.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/vendor/settings.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/vendor/animate.css"/>
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="../css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>
    <!-- mian-content -->
    <div class="main-content" id="home">
        <div class="layer">
            <!-- header -->
            <header>
                <div class="container-fluid px-lg-5">
                    <!-- nav -->
                    <nav class="py-4 d-lg-flex">
                        <div id="logo">
                            <h1> <a href="/"><span class="fa fa-gg" aria-hidden="true"></span>tunisieDecor</a></h1>
                        </div>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu mt-2 ml-auto">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="#about" class="scroll">About</a></li>
                            <li><a href="#contact" class="scroll">Contact</a></li>
                            <div class="container">
                    <div class="topbar-left">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                             <h3 style="  color: white;">logged in as <strong>{{ app.user.username }}</strong></h3>
                        {% endif %}
                    </div>
                    <!-- End topBar-left -->
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                      <h2><a href={{ logout_url(key = null) }}>logout</a></h2>
                    {% else %}
                    <div class="topbar-right">
                        <div class="wrap-sign-in cart dropdown">
                        <a class="sign-in" href="#" title="user"><i class="zmdi zmdi-account"></i>My account</a>
                            <div class="register-list cart-list dropdown-menu ">
                                
                                <h3>Login</h3>
                                <div class="acc-pass">
                                {{ render(controller('FOSUserBundle:Security:login')) }}
                                </div>
                                <h4>or Login to</h4>
                                <div class="social">
                                    <a class="facebook" href="#" title="facebook"><i class="zmdi zmdi-facebook"></i></a>
                                    <a class="twitter" href="#" title="twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    <a class="instagram" href="#" title="instagram"><i class="zmdi zmdi-instagram"></i></a>
                                    <a class="google" href="#" title="google"><i class="zmdi zmdi-google-glass"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- End topbar-right -->
                </div>
                        </ul>
                    </nav>
                    <!-- //nav -->
                </div>
            </header>
            <!-- //header -->
            <div class="container">
                <!-- /banner -->
                <div class="banner-info-w3layouts">
                    <h3>Change your decoration with TunisieDecor</h3>
                    <p class="my-3">tunisieDecor give you the opportunity to change your life style, making your home look amazing. What are you waiting for !!! .</p> <a href="login" class="read-more mt-3 btn">start shopping</a> </div>
            </div>
        </div>
        <!-- //banner -->
    </div>
    <!--// mian-content -->
    <!-- banner-bottom-wthree -->
    <section class="banner-bottom-wthree py-5" id="about">
        <div class="container py-md-5 px-lg-5">
            <div class="content-left-bottom text-center">
                <h3 class="tittle mb-lg-5 mb-4">About Us<span>.</span></h3>
            </div>
            <div class="content-right-bottom mt-md-0 mt-3 text-center">
                <p class="mt-2">TunisieDecor.<strong class="text-capitalize"> has been create in 2019 in a simple project.</strong> realised by ahmed ben rhouma. Our website can serve all your dependences.</p>
                <p class="mt-3"><strong class="text-capitalize">Make your accounts and login now.</strong> our first clients are so pressive and they have many gifts.</p>
            </div>
            <div class="row banner-grids mt-lg-5">
                <div class="col-lg-4 banner-grid">
                    <div class="content-grid-info">
                        <div class="row">
                            <div class="col-lg-2">
                                <span class="fa fa-user" aria-hidden="true"></span>
                            </div>
                            <div class="col-lg-10">
                                <h4 class="mb-3">Mission</h4>
                                <p>serve the client and give him all what he need.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 banner-grid">
                    <div class="content-grid-info">
                        <div class="row">
                            <div class="col-lg-2">
                                <span class="fa fa-eye" aria-hidden="true"></span>
                            </div>
                            <div class="col-lg-10">
                                <h4 class="mb-3">Vission</h4>
                                <p>every probleme or declaration make as to upgrate our website and make it better.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 banner-grid">
                    <div class="content-grid-info">
                        <div class="row">
                            <div class="col-lg-2">
                                <span class="fa fa-tasks" aria-hidden="true"></span>
                            </div>
                            <div class="col-lg-10">
                                <h4 class="mb-3">Work</h4>
                                <p>our first role is to concentrate with details in work to be perfect.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner-bottom-wthree -->
    <!--/ about -->
    <section class="services py-5" id="services">
        <div class="container py-md-5">
            <div class="header pb-lg-3 pb-3 text-center">
                <h3 class="tittle mb-lg-3 mb-3">Maintenance Services<span>.</span></h3>
            </div>
            <div class="row ab-info second mt-lg-4">
                <div class="col-lg-3 ab-content">
                    <div class="ab-content-inner">
                        <img src="../images/2.jpg" alt="news image" class="img-fluid">
                        <div class="ab-info-con">
                            <h4>Floor Design</h4>
                            <p>we have specialistes in floor design with an amazing work.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ab-content">
                    <div class="ab-content-inner">
                        <img src="../images/1.jpg" alt="news image" class="img-fluid">
                        <div class="ab-info-con">
                            <h4>Commercial Interior</h4>
                            <p>we give you all what you need in the interne dector.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ab-content">
                    <div class="ab-content-inner">
                        <img src="../images/3.jpg" alt="news image" class="img-fluid">
                        <div class="ab-info-con">
                            <h4>Exterior Design</h4>
                            <p>don't think about painting and externe decor we got that.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ab-content">
                    <div class="ab-content-inner">
                        <img src="../images/4.jpg" alt="news image" class="img-fluid">
                        <div class="ab-info-con">
                            <h4>Architecture Design</h4>
                            <p>our architecte can give you a beautiful stategie of your Architecture design.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// about -->
    <!-- Gallery -->
    <section class="gallery py-5" id="gallery">
        <div class="container py-md-5">
            <div class="header text-center">
                <h3 class="tittle mb-lg-5 mb-3">Our Gallery<span>.</span></h3>
            </div>
            <div class="row news-grids text-center">
                <div class="col-md-4 gal-img">
                    <a href="#gal1"><img src="../images/g1.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal2"><img src="../images/g2.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal3"><img src="../images/g3.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal4"><img src="../images/g4.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal5"><img src="../images/g5.jpg" alt="news image" class="img-fluid"></a>
                </div>

                <div class="col-md-4 gal-img">
                    <a href="#gal6"><img src="../images/g6.jpg" alt="news image" class="img-fluid"></a>
                </div>

            </div>

            <!-- popup-->
            <div id="gal1" class="pop-overlay animate">
                <div class="popup">
                    <img src="../images/g1.jpg" alt="Popup Image" class="img-fluid" />
                    <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->

            <!-- popup-->
            <div id="gal2" class="pop-overlay animate">
                <div class="popup">
                    <img src="../images/g2.jpg" alt="Popup Image" class="img-fluid" />
                    <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal3" class="pop-overlay animate">
                <div class="popup">
                    <img src="../images/g3.jpg" alt="Popup Image" class="img-fluid" />
                    <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup3 -->
            <!-- popup-->
            <div id="gal4" class="pop-overlay animate">
                <div class="popup">
                    <img src="../images/g4.jpg" alt="Popup Image" class="img-fluid" />
                    <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal5" class="pop-overlay animate">
                <div class="popup">
                    <img src="../images/g5.jpg" alt="Popup Image" class="img-fluid" />
                    <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal6" class="pop-overlay animate">
                <div class="popup">
                    <img src="../images/g6.jpg" alt="Popup Image" class="img-fluid" />
                    <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->

        </div>
    </section>
    

    <!--/testimonials-->
    <section class="testimonials py-5" id="testimonials">
        <div class="container py-md-3">
            <div class="header-wthree text-center">
                <h3 class="tittle mb-lg-5 mb-3"> Client Reviews<span>.</span></h3>
            </div>
            <div class="row">
                <div class="col-md-6 test-info-w3ls text-left">
                    <p><span class="fa fa-quote-left"></span> Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. <span class="fa fa-quote-right"></span></p>

                    <div class="test-img text-right mb-3">
                        <img src="../images/te2.jpg" class="img-fluid" alt="user-image">
                    </div>
                    <h3 class="my-md-2 my-3 text-right">Jenifer Burns</h3>

                    <ul class="list-unstyled w3ls-icons clients text-right">
                        <li>
                            <a href="#">
							<span class="fa fa-star"></span>
						</a>
                        </li>
                        <li>
                            <a href="#">
							<span class="fa fa-star"></span>
						</a>
                        </li>
                        <li>
                            <a href="#">
							<span class="fa fa-star"></span>
						</a>
                        </li>
                        <li>
                            <a href="#">
							<span class="fa fa-star-half-o"></span>
						</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 test-info-w3ls text-left">
                    <p><span class="fa fa-quote-left"></span> Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. <span class="fa fa-quote-right"></span></p>

                    <div class="test-img text-right mb-3">
                        <img src="../images/te3.jpg" class="img-fluid" alt="user-image">
                    </div>
                    <h3 class="my-md-2 my-3 text-right"> Abraham Smith</h3>

                    <ul class="list-unstyled w3ls-icons clients text-right">
                        <li>
                            <a href="#">
							<span class="fa fa-star"></span>
						</a>
                        </li>
                        <li>
                            <a href="#">
							<span class="fa fa-star"></span>
						</a>
                        </li>
                        <li>
                            <a href="#">
							<span class="fa fa-star"></span>
						</a>
                        </li>
                        <li>
                            <a href="#">
							<span class="fa fa-star-half-o"></span>
						</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--//testimonials-->
    <!-- contact -->
    <section class="contact py-5" id="contact">
        <div class="container pb-5">
            <div class="header py-lg-5 pb-3 text-center">
                <h3 class="tittle mb-lg-5 mb-3"> Contact Us<span>.</span></h3>
            </div>
            <ul class="list-unstyled row text-left mb-lg-5 mb-3">
                <li class="col-lg-4 adress-info">
                    <div class="row">
                        <div class="col-md-3 text-lg-center adress-icon">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <div class="col-md-9 text-left">
                            <h6>Location</h6>
                            <p>The company name
                                <br>New York City. </p>
                        </div>
                    </div>
                </li>

                <li class="col-lg-4 adress-info">
                    <div class="row">
                        <div class="col-md-3 text-lg-center adress-icon">
                            <span class="fa fa-envelope-open-o"></span>
                        </div>
                        <div class="col-md-9 text-left">
                            <h6>Email</h6>
                            <a href="mailto:info@example.com">mail@example.com</a>
                            <br>
                            <a href="mailto:info@example.com">mail2@example.com</a>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 adress-info">
                    <div class="row">
                        <div class="col-md-3 text-lg-center adress-icon">
                            <span class="fa fa-mobile"></span>
                        </div>
                        <div class="col-md-9 text-left">
                            <h6>Phone Number</h6>
                            <p>+ 1234567890</p>
                            <p>+ 0987654321</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="contact-form mx-auto text-left mt-lg-5 mt-4">
                <form name="contactform" id="contactform1" method="post" action="#">
                    <div class="row">
                        <div class="col-lg-4 con-gd">
                            <div class="form-group" data-aos="fade-up">
                                <label>Name *</label>
                                <input type="text" class="form-control" id="name" placeholder="" name="name" required="">
                            </div>
                        </div>
                        <div class="col-lg-4 con-gd">
                            <div class="form-group" data-aos="fade-up">
                                <label>Email *</label>
                                <input type="email" class="form-control" id="email" placeholder="" name="email" required="">
                            </div>
                        </div>
                        <div class="col-lg-4 con-gd">
                            <div class="form-group" data-aos="fade-up">
                                <label>Phone No. *</label>
                                <input type="text" class="form-control" id="phone" placeholder="" name="phone" required="">
                            </div>
                        </div>

                    </div>

                    <div class="form-group mb-5">
                        <label>How can we help?</label>
                        <textarea name="issues" class="form-control" id="iq" placeholder="" required=""></textarea>
                    </div>
                    <div class="contact-page">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
            <div class="map mt-md-5 mt-4">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100949.24429313939!2d-122.44206553967531!3d37.75102885910819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1472190196783" class="map" style="border:0" allowfullscreen=""></iframe> </div>
        </div>

    </section>
    <!-- //contact -->

    <!-- footer -->
    <footer class="footer-content">
        <div class="layer footer">
            <div class="container-fluid">
                <div class="row footer-top-inner-w3ls">
                    <div class="col-lg-4 col-md-6 footer-top mt-md-0 mt-sm-5">
                        <h2>
                            <a class="navbar-brand" href="/"><span class="fa fa-gg" aria-hidden="true"></span>
                          Dcor
                        </a>
                        </h2>
                        <p class="my-3">Donec consequat sam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus</p>
                        <p>
                            Id quod possimusapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci.
                        </p>
                    </div>
                    <div class="col-lg-2 col-md-6 mt-md-0 mt-5">
                        <div class="footer-w3pvt">
                            <h3 class="mb-3 w3pvt_title">Navigation</h3>
                            <hr>
                            <ul class="list-info-w3pvt">
                                <li>
                                    <a href="#home" class="scroll">
                                    Home
                                </a>
                                </li>
                                <li class="my-2">
                                    <a href="#about" class="scroll">
                                    About Us
                                </a>
                                </li>
                                <li class="my-2">
                                    <a href="#gallery" class="scroll">
                                    Gallery
                                </a>
                                </li>
                                <li class="mb-2">
                                    <a href="#services" class="scroll">
                                    Services
                                </a>
                                </li>
                                <li>
                                    <a href="#contact" class="scroll">
                                    Contact Us
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                        <div class="footer-w3pvt">
                            <h3 class="mb-3 w3pvt_title">Links</h3>
                            <hr>
                            <ul class="list-info-w3pvt">
                                <li>
                                    <a href="#about" class="scroll">
                                    Our Mission
                                </a>
                                </li>
                                <li class="my-2">
                                    <a href="#blog" class="scroll">
                                    Latest Posts
                                </a>
                                </li>
                                <li class="my-2">
                                    <a href="#">
                                    Explore
                                </a>
                                </li>
                                <li class="mb-2">
                                    <a href="#contact" class="scroll">
                                    Find us
                                </a>
                                </li>
                                <li>
                                    <a href="/">
                                    Privacy Policy
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                        <div class="footer-w3pvt">
                            <h3 class="mb-3 w3pvt_title">Contact Us</h3>
                            <hr>
                            <div class="last-w3ls-contact">
                                <p>
                                    <a href="mailto:example@email.com">info@example.com</a>
                                </p>
                            </div>
                            <div class="last-w3ls-contact my-2">
                                <p>+ 456 123 7890</p>
                            </div>
                            <div class="last-w3ls-contact">
                                <p>+ 90 nsequursu dsdesdc,
                                    <br>xxx Honey State 049436.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <p class="copy-right-grids text-li text-center my-sm-4 my-4">© 2019 Dcor. All Rights Reserved | Design by
                    <a href="http://w3layouts.com/"> W3layouts </a>
                </p>
                <div class="w3ls-footer text-center mt-4">
                    <ul class="list-unstyled w3ls-icons">
                        <li>
                            <a href="#">
							<span class="fa fa-facebook-f"></span>
						</a>
                        </li>
                        <li>
                            <a href="#">
							<span class="fa fa-twitter"></span>
						</a>
                        </li>
                        <li>
                            <a href="#">
							<span class="fa fa-dribbble"></span>
						</a>
                        </li>
                        <li>
                            <a href="#">
							<span class="fa fa-vk"></span>
						</a>
                        </li>
                    </ul>
                </div>
                <div class="move-top text-right"><a href="#home" class="move-top"> <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span></a></div>
            </div>
            <!-- //footer bottom -->
        </div>
    </footer>
    <!-- //footer -->
        <script type="text/javascript" src="../assets/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="../assets/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="../assets/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="../assets/js/wow.min.js"></script>
        <script type="text/javascript" src="../assets/js/store.js"></script>

</body>

</html>
