<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="shortcut icon" href="assets/images/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="assets/vendor/owl-slider.css"/>
        <title>Shopping Cart</title>
    </head>
    <body>
        <header id="header" class="header-v3">
            <div id="topbar">
                <div class="container">
                    <div class="topbar-left">
                        <a class="facebook" href="#" title="facebook"><i class="zmdi zmdi-facebook"></i></a>
                        <a class="twitter" href="#" title="twitter"><i class="zmdi zmdi-twitter"></i></a>
                        <a class="instagram" href="#" title="instagram"><i class="zmdi zmdi-instagram"></i></a>
                        <a class="google" href="#" title="google"><i class="zmdi zmdi-google-glass"></i></a>

                        <!-- End cart -->
                    </div>
                    <!-- End topBar-left -->
                    <div class="topbar-right">
                        <a href="#" title="Guarantee"><i class="zmdi zmdi-wrench"></i>Guarantee</a>
                        <a href="#" title="Adress"><i class="zmdi zmdi-pin"></i>Store location</a>
                        <a href="#" title="Dollar"><i class="zmdi zmdi-money-box"></i>Dollar (US)</a>
                        <div class="wrap-sign-in cart dropdown">
                        <a class="sign-in" href="#" title="user"><i class="zmdi zmdi-account"></i>My account</a>
                            <div class="register-list cart-list dropdown-menu ">
                                <h3>My account</h3>
                                <form class="form-horizontal" method="POST">
                                    <div class="acc-name">
                                        <input class="form-control" type="text" placeholder="Account name" id="inputacname">
                                    </div>
                                    <div class="acc-pass">
                                        <input class="form-control" type="text" placeholder="Password" id="inputpass"> 
                                    </div>
                                    <div class="remember">
                                        <input type="checkbox" id="me" name="nar" />
                                        <label for="me">remember me</label>
                                        <a class="help" href="#" title="help ?">help?</a>   
                                    </div>           
                                    <button type="submit" class="link-button">Submit</button>
                                </form>
                                <h3>Or register</h3>
                                <form class="form-horizontal" method="POST">
                                    <input type="text" placeholder="Your mail" id="inputmail" class="form-control">                  
                                    <input type="text" placeholder="Password" id="inputpass1" class="form-control">                   
                                    <button type="submit" class="link-button">register</button>
                                </form>
                                <h4>or register to</h4>
                                <div class="social">
                                    <a class="facebook" href="#" title="facebook"><i class="zmdi zmdi-facebook"></i></a>
                                    <a class="twitter" href="#" title="twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    <a class="instagram" href="#" title="instagram"><i class="zmdi zmdi-instagram"></i></a>
                                    <a class="google" href="#" title="google"><i class="zmdi zmdi-google-glass"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End topbar-right -->
                </div>
                <!-- End container -->
            </div>
            <!-- End Top Bar -->
            <div class="header-top">
                    <div class="container">
                    <div class="inner-container">
                        <p class="icon-menu-mobile"><span class="icon-bar"></span></p>
                        <div class="logo"><a href="#" title="Dana-Logo"><img src="assets/images/Dana-menu-logo.png" alt="Dana-Logo"></a></div>
                        <div class="menu-top">
                            <ul class="nav-top">
                                <li class="level1"><a href="#" title="Hopme">Home</a>
                                    <ul class="menu-level-1">
                                        <li class="level2"><a href="home_v1.html" title="Home 1" target="_blank">Home 1</a></li>
                                        <li class="level2"><a href="home_v2.html" title="Home 2" target="_blank">Home 2</a></li>
                                        <li class="level2"><a href="home_v3.html" title="Home 3" target="_blank">Home 3</a></li>
                                    </ul>
                                </li>
                                <li class="level1"><a href="#" title="Hopme">Shop</a>
                                    <ul class="menu-level-1">
                                        <li class="level2"><a href="shop-listing1.html" title="Shop Listing" target="_blank">Shop Listing 1</a></li>
                                        <li class="level2"><a href="shop-listing2.html" title="Shop Listing" target="_blank">Shop Listing 2</a></li>
                                        <li class="level2"><a href="shop-listing3.html" title="Shop Listing" target="_blank">Shop Listing 3</a></li>
                                        <li class="level2"><a href="shop-listing4.html" title="Shop Listing" target="_blank">Shop Listing 4</a></li>
                                        <li class="level2"><a href="product-detail.html" title="product detail" target="_blank">Products Details</a></li>
                                        <li class="level2"><a href="shopping-cart.html" title="productcart" target="_blank">Shopping Cart</a></li>
                                        <li class="level2"><a href="compare.html" title="product compare" target="_blank">Compare</a></li>
                                    </ul>
                                </li>
                                <li class="level1 active"><a href="#" title="Blog">Blog</a>
                                    <ul class="menu-level-1">
                                        <li class="level2"><a href="blog-1.html" title="Blog 1" target="_blank">Blog 1</a></li>
                                        <li class="level2"><a href="blog-2.html" title="Blog 2" target="_blank">Blog 2</a></li>
                                        <li class="level2"><a href="blog-details.html" title="Blog Details" target="_blank">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="level1"><a href="#" title="Page">Page</a>
                                    <ul class="menu-level-1">
                                        <li class="level2"><a href="contact.html" title="" target="_blank">Contact</a></li>
                                        <li class="level2"><a href="contact2.html" title="" target="_blank">Contact 2</a></li>
                                        <li class="level2"><a href="404.html" title="Page 404" target="_blank">Page 404</a></li>
                                        <li class="level2"><a href="checkout.html" title="check out" target="_blank">Check out</a></li>
                                        <li class="level2"><a href="undercontruction.html" title="Undercontruction" target="_blank">Undercontruction</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="search">
                            <div class="search-form">
                                <form action="#" method="get">
                                    <div class="search-select">
                                        <i class="zmdi zmdi-chevron-down"></i>
                                        <select name="orderby" class="category-search">
                                            <option value="">Select Category</option>
                                            <option value="Headphone">Headphone</option>
                                            <option value="Smart phone">Smart phone</option>
                                            <option value="game consoles">game consoles</option>
                                            <option value="Laptop">Laptop</option>
                                            <option value="televison">televison</option>
                                        </select>
                                    </div>
                                    <!-- End search Select -->
                                    <input type="text" autocomplete="off" placeholder="search Keywork " value="" class="ajax_autosuggest_input ac_input" name="s">
                                    <button type="submit" class="icon-search">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- End search -->
                    </div>  
                    <!-- End inner container -->
                    </div>
                    <!-- End container -->
                </div>
                <!-- End header-top -->
                <nav class="menu-mobile">
                    <ul class="nav">
                        <li class="level1"><a href="#" title="Headphone">Headphone</a>
                            <ul class="menu-level-1">
                                <li class="level2"><a href="#" title="Home 1" target="_blank">Headphone 1</a></li>
                                <li class="level2"><a href="#" title="Home 2" target="_blank">Headphone 2</a></li>
                                <li class="level2"><a href="#" title="Home 3" target="_blank">Headphone 3</a></li>
                                <li class="level2"><a href="#" title="Home 4" target="_blank">Headphone 4</a></li>
                            </ul>
                        </li>
                        <li class="level1">
                            <a href="#" title="Smart watch">Smart watch</a>
                            <ul class="menu-level-1">
                                <li class="level2">
                                <a href="#">Laptop</a>
                                    <ul class="menu-level-2">
                                        <li class="level3"><a href="#" title="Apple">Apple</a></li>
                                        <li class="level3"><a href="#" title="Samsung">Samsung</a></li>
                                        <li class="level3"><a href="#" title="Sony">Sony</a></li>
                                        <li class="level3"><a href="#" title="HTC">HTC</a></li>
                                        <li class="level3"><a href="#" title="Xaomi">Xaomi</a></li>
                                        <li class="level3"><a href="#" title="LG">LG</a></li>
                                    </ul>
                                </li>
                                <li class="level2">
                                <a href="#">Accessories</a>
                                    <ul class="menu-level-2">
                                        <li class="level3"><a href="#" title="Submenu1">Submenu1</a></li>
                                        <li class="level3"><a href="#" title="Submenu2">Submenu2</a></li>
                                        <li class="level3"><a href="#" title="Submenu3">Submenu3</a></li>
                                        <li class="level3"><a href="#" title="Submenu4">Submenu4</a></li>
                                        <li class="level3"><a href="#" title="Submenu5">Submenu5</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="level1"><a href="#" title="Smart phone ">Smart phone </a></li>
                        <li class="level1"><a href="#">game consoles</a></li>
                        <li class="level1"><a href="#" title="Laptop">Laptop</a></li>
                        <li class="level1"><a href="#" title="televison">televison</a></li>
                    </ul>
                </nav>
                <!-- End menu  mobile -->
                <nav class="mega-menu">
                <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                  <ul class="nav navbar-nav" id="navbar">
                    <li class="level1 active"><a href="#" title="Headphone">Headphone</a>
                        <ul class="menu-level-1">
                            <li class="level2"><a href="#" title="Home 1">Headphone 1</a></li>
                            <li class="level2"><a href="#" title="Home 2">Headphone 2</a></li>
                            <li class="level2"><a href="#" title="Home 3">Headphone 3</a></li>
                            <li class="level2"><a href="#" title="Home 4">Headphone 4</a></li>
                        </ul>
                    </li>
                    <li class="level1 dropdown">
                        <a href="#" title="men">Smart watch</a>
                        <div class="sub-menu dropdown-menu">
                          <ul class="menu-level-1">
                            <li class="level2"><a href="#">Laptop</a>
                                <ul class="menu-level-2">
                                    <li class="level3"><a href="#" title="Apple">Apple</a></li>
                                    <li class="level3"><a href="#" title="Samsung">Samsung</a></li>
                                    <li class="level3"><a href="#" title="Sony">Sony</a></li>
                                    <li class="level3"><a href="#" title="HTC">HTC</a></li>
                                    <li class="level3"><a href="#" title="Xaomi">Xaomi</a></li>
                                    <li class="level3"><a href="#" title="LG">LG</a></li>
                                </ul>
                            </li>
                            <li class="level2"><a href="#">Accessories</a>
                                <ul class="menu-level-2">
                                    <li class="level3"><a href="#" title="Submenu1">Submenu1</a></li>
                                    <li class="level3"><a href="#" title="Submenu2">Submenu2</a></li>
                                    <li class="level3"><a href="#" title="Submenu3">Submenu3</a></li>
                                    <li class="level3"><a href="#" title="Submenu4">Submenu4</a></li>
                                    <li class="level3"><a href="#" title="Submenu5">Submenu5</a></li>
                                </ul>
                            </li>
                            <li class="level2">
                                <img src="assets/images/products/1.jpg" alt="Sub-Menu" />
                            </li>
                          </ul>
                      </div>
                      <!-- End Dropdow Menu -->
                    </li>
                    <li class="level1"><a href="#" title="Smart phone ">Smart phone </a></li>
                    <li class="level1"><a href="#">game consoles</a></li>
                    <li class="level1"><a href="#" title="Laptop">Laptop</a></li>
                    <li class="level1"><a href="#" title="televison">televison</a></li>
                  </ul>
                  <div class="menu-icon-right">
                    <a class="refresh" href="#" title="twitter"><i class="zmdi zmdi-refresh-sync"></i></a>
                    <a class="favor" href="#" title="sky"><i class="zmdi zmdi-favorite-outline"></i></a>
                    
                    <div class="cart dropdown">
                    <a class="icon-cart" href="#" title="Cart">
                        <i class="zmdi zmdi-shopping-cart-plus"></i>
                        <span class="cart-count">4</span>
                    </a>
                    <div class="cart-list dropdown-menu">
                        <ul class="list">
                            <li>
                                <a href="#" title="" class="cart-product-image"><img src="assets/images/products/1.jpg" alt="Product"></a>
                                <div class="text">
                                    <p class="product-name">Duma #2145</p>
                                    <p class="product-price">1 x $69.90</p>
                                </div>
                                <a href="#" class="delete-item">
                                    <i class="zmdi zmdi-close-circle-o"></i>
                                </a>
                            </li> 
                            <li>
                                <a href="#" title="" class="cart-product-image"><img src="assets/images/products/1.jpg" alt="Product"></a>
                                <div class="text">
                                    <p class="product-name">Duma #2145</p>
                                    <p class="product-price">1 x $69.90</p>
                                </div>
                                <a href="#" class="delete-item">
                                    <i class="zmdi zmdi-close-circle-o"></i>
                                </a>
                            </li>                                   
                        </ul>
                        <p class="total"><span>Total cost</span> $1121.98</p>
                        <a class="checkout" href="#" title="view cart">view cart</a>
                        <a class="checkout bg-black" href="#" title="check out">Check out</a>
                    </div>
                </div>
                  </div>
                  </div>
                  <!-- End container -->
                </nav>
                <!-- End mega menu -->
        </header><!-- /header -->
        <div class="breadcrumb">
            <div class="container">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ul>
            </div>
            <!-- End container -->
        </div> 
          <div class="main-content shopping-cart"> 
          <div class="shopping-cart">
          <div class="container">    
                <div class="title-ver2">
                    <h3>Shopping Cart</h3>
                </div>
                <!-- End title product -->
                <table class="table space-80">
                    <thead>
                        <tr>
                            <th class="product-photo">Product</th>
                            <th class="produc-name"></th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="total-price">Total</th>
                            <th class="product-remove"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="item_cart">
                            <td class="product-photo"><img src="assets/images/products/1.jpg" alt="Futurelife" height="100" width="100"></td>
                            <td class="produc-name"><a href="#" title="">Name product 01</a></td>
                            <td class="product-price">$69.60</td>
                            <td class="product-quantity"><input type="number" size="4" class="input-text qty text" title="SL" value="1" min="0" step="1"></td>
                            <td class="total-price">$69.60</td>
                            <td class="product-remove"><a class="remove" href="#" title=""></a></td>
                        </tr>
                        <tr class="item_cart">
                            <td class="product-photo"><img src="assets/images/products/1.jpg" alt="Futurelife" height="100" width="100"></td>
                            <td class="produc-name"><a href="#" title="">Name product 01</a></td>
                            <td class="product-price">$69.60</td>
                            <td class="product-quantity"><input type="number" size="4" class="input-text qty text" title="SL" value="1" min="0" step="1"></td>
                            <td class="total-price">$69.60</td>
                            <td class="product-remove"><a class="remove" href="#" title=""></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- End container -->
        </div>
        <!-- End shopping cart -->
            
        <div class="shipping-total">
            <div class="container">
                <div class="col-md-6 coupon">
                    <div class="title-ver2">
                        <h3>Coupon code</h3>
                    </div>
                    <div class="contact-form">
                        <form class="form-horizontal">
                            <div class="form-group col-md-7">
                                <input type="text" class="form-control" id="inputfname" placeholder="Enter your first name...">       
                            </div> 
                            <div class="form-group col-md-5">
                                <button value="Submit" class="btn link-button link-border-raidus" type="submit">Appy coupon</button>
                            </div> 
                        </form> 
                    </div>
                    <a class="btn link-button link-border-raidus bg-gray" href="#" title="Continue shopping">Continue shopping</a>
                    <a class="btn link-button link-border-raidus bg-gray" href="#" title="Update cart">Update cart</a>
                </div>
                <!-- End col-md-6 -->
                <div class="col-md-6 cart-totals text-price">
                    <div class="title-ver2">
                        <h3>Cart totals</h3>
                    </div>
                    <ul>
                        <li><span class="text">Subtotal</span><span class="number">$ 1,990.00</span></li>
                        <li><span class="text">Shipping</span><span class="number">$ 50.00</span></li>
                        <li><span class="text totals">Totals Cart</span><span class="number totals">$ 2,040.00</span></li>
                    </ul>
                    <a class="btn link-button link-border-raidus" href="#" title="Proceed to checkout">Proceed to checkout</a>
                </div>
                <!-- End col-md-6 -->
            </div>
            <!-- End shipping-total -->
            </div>           
            <!-- End conainer -->
          </div>
          <!-- End MainContent -->
          <div class="newsletter">
              <div class="container">
                <h3><a href="#" title="sign up">sign up</a> to newsletter</h3>
                <p>and receilve $20 coupon for first shopping</p>
                    <form action="#" method="get" accept-charset="utf-8">
                        <input type="text" onblur="if (this.value == '') {this.value = 'Enter your email';}" onfocus="if(this.value != '') {this.value = '';}" value="Enter your emaill" class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="email">
                        <button class="button button1" title="Subscribe" type="submit"></button>
                    </form>
              </div>
              <!-- End container -->
          </div>
          <!-- End newsletter -->
          <footer id="footer">
              <div class="container">
                <div class="row footer-top">
                    <div class="col-md-5">
                        <a class="logo" href="#" title="logo"><img src="assets/images/Dana-menu-logo.png" alt="Logo"></a>
                        <p class="italic">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        <div class="infomation">
                            <p><i class="zmdi zmdi-pin"></i>PO Box CT16122 Collins Street West, Victoria 8007, Australia.</p>
                            <p><i class="zmdi zmdi-phone"></i>+81 (2) 345 6789</p>
                            <p><i class="zmdi zmdi-email"></i>engotheme@gmail.com</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3>Quick link</h3>
                        <ul class="menu">
                            <li><a href="#" title="Headphone">Headphone</a></li>
                            <li><a href="#" title="Smart watch">Smart watch</a></li>
                            <li><a href="#" title="Smartphone">Smartphone</a></li>
                            <li><a href="#" title="Video game & consoles">Video game & consoles</a></li>
                            <li><a href="#" title="Laptop">Laptop</a></li>
                            <li><a href="#" title="Televison">Televison</a></li>
                            <li><a href="#" title="Home">Home</a></li>
                            <li><a href="#" title="About us">About us</a></li>
                            <li><a href="#" title="Blog">Blog</a></li>
                            <li><a href="#" title="Service">Service</a></li>
                            <li><a href="#" title="Contact us">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Customer care</h3>
                        <ul class="menu">
                            <li><a href="#" title="My account">My account</a></li>
                            <li><a href="#" title="Order tracking">Order tracking</a></li>
                            <li><a href="#" title="wish list">wish list</a></li>
                            <li><a href="#" title="customer service">customer service</a></li>
                            <li><a href="#" title="Returns/ Exchage">Returns/ Exchage</a></li>
                            <li><a href="#" title="FAQS">FAQS</a></li>
                            <li><a href="#" title="Product support">Product support</a></li>
                        </ul>
                    </div> 
                </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                    <div class="col-md-8">
                         <p>&copy; COPYRIGHT 2016 BY ENGOTHEME</p>
                         <a href="" title="facebook"><i class="zmdi zmdi-facebook"></i></a>
                         <a href="#" title="google"><i class="zmdi zmdi-google-plus"></i></a>
                         <a href="#" title="instagram"><i class="zmdi zmdi-instagram"></i></a>
                         <a href="#" title="twitter"><i class="zmdi zmdi-twitter"></i></a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" title="Payment"><img src="assets/images/Hermes-footer-payment.png" alt="payment"></a>
                    </div>
                </div>
              </div>
              <!-- End container -->
          </footer>
        <script type="text/javascript" src="assets/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
        
        <script type="text/javascript" src="assets/js/store.js"></script>
    </body>
</html>

