<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="shortcut icon" href="assets/images/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
        <title>Under Contruction</title>
    </head>
    <body>
        <div class="contruction">
            <div class="col-md-3">
                <div class="logo">
                    <a href="#" title="logo"><img alt="Dana-Logo" src="assets/images/Dana-menu-logo.png"></a>
                </div>
                <div class="time" data-countdown="countdown" data-date="11-17-2016-10-20-30"></div>
                
                 <div class="newsletter newsletter-v2">
                     <form accept-charset="utf-8" method="get" action="#">
                        <input type="text" name="email" id="newsletter" title="Sign up for our newsletter" class="input-text required-entry validate-email" value="Enter your emaill" onfocus="if(this.value != '') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Enter your email';}">
                        <button type="submit" title="Subscribe" class="button button1"></button>
                    </form>
                 </div>
                 <!-- end newletter -->
                 <div class="social">
                    <a title="facebook" href=""><i class="zmdi zmdi-facebook"></i></a>
                     <a title="google" href="#"><i class="zmdi zmdi-google-plus"></i></a>
                     <a title="instagram" href="#"><i class="zmdi zmdi-instagram"></i></a>
                     <a title="twitter" href="#"><i class="zmdi zmdi-twitter"></i></a>
                 </div>
                 <!-- End social -->
            </div>
            <div class="col-md-9">
                <img src="assets/images/undercontruction.jpg" alt="banner">
                <div class="text">
                    <h3>Welcome to Dama store</h3>
                    <h3>we are coming soon</h3>
                </div>
            </div>
        </div>
        <!-- End contruction -->
    </body>
    <script type="text/javascript" src="assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/engo-plugins.js"></script>
</html>

